<li class="clip">
    {{input type="checkbox" checked=clip.star change=(action "starClip")}}
    <label><a href="{{clip.url}}">{{clip.title}}</a></label><button class="destroy" {{action "deleteClip"}}></button>
    {{input type="url" value=clip.url}}
</li>
