<li class="clip">
    <input type="checkbox" checked="{{clip.star}}" {{action "starClip"}}>
    <label><a href="{{attrs.clip.url}}">{{clip.title}}</a></label><button class="destroy" {{action "deleteClip"}}></button>
    {{input type="url" value=clip.url}}
</li>
